# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
test_results/
conversation_memories/*
!conversation_memories/.gitkeep
!conversation_memories/default.json

# Production
build

# Misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local Data
chroma_data/
