services:
  chroma:
    image: chromadb/chroma
    ports:
      - "8002:8000"
    volumes:
      - ./chroma_data:/chroma/chroma
    environment:
      - IS_PERSISTENT=TRUE

  app:
    build: .
    ports:
      - "3001:3000"
    environment:
      - CHROMA_HOST=chroma
      - CHROMA_PORT=8000
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - TZ=America/Buenos_Aires
    depends_on:
      - chroma
    volumes:
      - ./conversation_memories:/usr/src/app/conversation_memories
